---
import Article from "@components/Article.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="404 Not Found">
    <Article>
        <h1>Not Found!</h1>
        <p>Nobody here but us chickens!</p>
    </Article>
</Layout>