---
import Article from "@components/Article.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="404 Not Found">
    <Article>
        <h1 class="text-center pt-20"><span class="font-mono text-[2.8rem]">404</span> Not Found!</h1>
        <div class="text-center text-3xl font-normal">{"ヾ(｡>\ufe4f<｡)ﾉ"}</div>
        <p class="text-center">Nobody here but us chickens!</p>
    </Article>
</Layout>
