---
import Layout from "@layouts/Layout.astro";
import Title from "@components/Title.astro";
---

<Layout title="discuss">
<div class="container mx-auto py-6 max-w-[80%] lg:max-w-[880px] animate-float-up">
    <Title>Discuss</Title>
    <p>由于维护等因素，本博客的文章不开设评论区，仅保留此处用于公开讨论。</p>
    <div class="lg:max-w-[760px] mx-auto mt-20">
    <script is:raw src="https://giscus.app/client.js"
            data-repo="Kaosuchan/kaosuchan.github.io"
            data-repo-id="R_kgDOI_yMZA"
            data-category="General"
            data-category-id="DIC_kwDOI_yMZM4CUXfF"
            data-mapping="title"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
    </div>
</div>
</Layout>

<style>
    iframe {
        outline: none;
    }
</style>
