---
import Layout from '@layouts/Layout.astro';
import Article from '@components/Article.astro';
---

<Layout title="kaosu's blog">
    <Article>
        <h1>Welcome, Gypsy.</h1>
        <p>趁着考试周偷偷摸鱼摸出来的博客，不对，我不是应该好好复习的吗？算了，我摆了。</p>
    </Article>
</Layout>
