---

import Avatar from "/avatar.svg";

export interface Props {
    class? : string;
}

const { class: _classes } = Astro.props;

const classes = _classes || "";

---

<div class={
    "hidden min-h-[10rem] md:min-w-[15rem] mx-8 my-8 py-10 " +
    "float-right md:inline-flex flex-col items-center rounded-md" +
    ` ${classes}`}>
    <div class="w-24 rounded-full inline-block border-solid border-amber-400 border-4 shadow-md">
        <img src={Avatar} class="w-full rounded-full hover:rotate-180 duration-500 sepia-[1]">
    </div>
    <div class="text-2xl tracking-[.25em] font-extralight mt-3 underline">kaosu</div>
    <div class="mt-0 text-xs">自行车站着骑 (/≧▽≦)/</div>
    <div class="mt-4">
        <a class="hover:fill-sky-400 inline-block" href="https://github.com/Kaosuchan" target="_blank">
            <svg height="22" width="22" aria-hidden="true" viewBox="0 0 16 16" version="1.1">
                <path fill-rule="evenodd"
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
            </svg>
        </a>
        <a class="hover:fill-sky-400 inline-block ml-1" href="https://www.luogu.com.cn/user/240440" target="_blank">
            <svg height="22" width="22" viewBox="0 0 32 32" version="1.1">
            <path d="M 16,0 A 16,16 0 0 0 0,16 16,16 0 0 0 16,32 16,16 0 0 0 32,16 16,16 0 0 0 16,0 Z m -0.259767,3.6054687 0.771484,0.054687 0.615234,0.060547 0.390625,0.082031 0.388672,0.082031
            0.126954,0.2382803 0.126955,0.2363263 -0.04102,1.0371126 -0.04102,1.0371095 -0.558594,1.1171875 -0.556641,1.1171875 -0.541015,0.6132812 -0.541016,0.6132813 v 0.05664 0.05664 l 2.345703,0.08594
            2.345703,0.08789 0.416016,0.21289 0.414063,0.212889 0.550781,0.574219 0.548828,0.574219 0.429687,0.652344 0.431641,0.65039 v 0.691406 0.689454 l -0.191407,0.380859 -0.19336,0.380859
            -2.310547,2.328125 -2.310547,2.328125 0.542969,0.07422 0.542968,0.07422 0.451172,0.230468 0.451172,0.228514 0.476562,0.519531 0.478516,0.517578 0.746094,1.214843 0.746093,1.212891
            0.539063,0.601563 0.541016,0.601562 0.111329,0.496094 0.11328,0.498047 0.05859,0.496094 0.06055,0.49414 -0.259767,0.138671 -0.259767,0.138671 -1.265612,-0.06054 -1.265625,-0.0625 -0.474609,-0.08008
            -0.476563,-0.08203 -0.154296,-0.125 -0.154297,-0.125 -0.476563,-0.814454 -0.476562,-0.814453 -1.123047,-1.310546 -1.123047,-1.310547 -0.183594,-0.279296 -0.18164,-0.279296 -0.925782,0.96875 -0.925781,0.970703
            -0.855469,0.949219 -0.855468,0.951172 -0.371094,0.613281 -0.371094,0.613281 -0.423828,0.08008 -0.423828,0.08203 -1.1894533,0.04297 -1.1874999,0.04102 -0.3554688,-0.128906 -0.3574219,-0.128907 -0.1582031,-0.125
            -0.1582031,-0.126953 0.064453,-0.421875 0.066406,-0.421875 0.078125,-0.476562 0.078125,-0.47461 0.2460938,-0.355468 0.2441404,-0.357422 0.765625,-0.949219 0.7656249,-0.951172 2.271484,-2.220703 2.269531,-2.220703
            -0.949219,-0.0059 -0.951171,-0.0078 -0.47461,-0.130859 -0.474609,-0.128907 -1.628906,-1.626953 -1.6289059,-1.625 -0.1835939,-0.4375 -0.1816407,-0.4375 V 12.798828 11.99414 L 8.4999997,11.273437 8.8417968,10.552734
            9.876953,9.6113278 10.912109,8.6679687 12.353515,6.7675781 13.794922,4.8671875 14.259765,4.3613279 14.722656,3.8574217 Z m -0.869139,7.3554683 -0.654297,0.507813 -0.652344,0.507812 -0.376951,0.34961 -0.376952,0.34961
            0.115234,0.251955 0.117189,0.253905 0.716797,0.355468 0.716797,0.357423 0.390624,0.376951 0.388672,0.376951 0.312499,0.625 0.312499,0.626953 0.0059,0.421875 0.0039,0.421875 0.89845,-0.949216 0.896484,-0.951172 0.230469,-0.320311
            0.230469,-0.322265 -0.390625,-0.201173 -0.390625,-0.199219 -0.984375,-0.646485 -0.982422,-0.646484 -0.199218,-0.302733 -0.197266,-0.300782 -0.06641,-0.472656 z" />
            </svg>
        </a>
    </div>
    <div class="font-bold mt-3">LINKS</div>
    <div><a class="text-green-500 hover:text-sky-400 font-normal" href="https://sqrtyz.github.io" target="_blank">Sqrtyz' Home</a></div>
    <div><a class="text-green-500 hover:text-sky-400 font-normal" href="https://www.cnblogs.com/wlzs1432" target="_blank">wlzs1432</a></div>
    <div><a class="text-green-500 hover:text-sky-400 font-normal" href="https://www.cnblogs.com/cjjsb" target="_blank">空気力学の詩</a></div>
</div>
