---
export interface Props {

}
---

<header class="w-full h-16 bg-gray-100">
    <span class="h-full float-left inline-flex items-center px-10 font-sans font-normal tracking-wide text-2xl">Blog</span>
    <a class="h-full float-right inline-flex items-center px-8 font-light hover:bg-sky-200" href="/archive">Archive</a>
    <a class="h-full float-right items-center px-8 font-light hover:bg-sky-200 hidden md:inline-flex" href="/about">About</a>
    <a class="h-full float-right inline-flex items-center px-8 font-light hover:bg-sky-200" href="/">Home</a>
</header>
